# Environments
venv/
.venv/
__pycache__/
*.pyc
.env

# Data & DB files
data/raw/*
data/staging/*
data/marts/*
!data/raw/.gitkeep
!data/staging/.gitkeep
!data/marts/.gitkeep
*.duckdb
*.duckdb.wal

# OS/IDE
.DS_Store
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml